/*Global*/
body {
    background-color: #E5E5E5;
    font-family: 'Nunito', sans-serif;
}

/*Greet*/
.input-group {
    margin: 0 auto;
    transform: translateY(150px);
    border-radius: 100px 10px;
    background-color: #f6f6f6;
    box-shadow: 0 9px 21px 0 rgba(32, 31, 41, 0.15);
    height: 400px;
    width: fit-content;
    gap: 15px;
}

.input-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: 100px 60px;

}

.main-title {
    margin: 0;
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.card-text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    letter-spacing: 0.05em;
    text-align: left;
}

.inputs {
    display: flex;
    width: inherit;
    gap: 15px;
    height: 30px;
}

.card-input {
    width: 50%;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    box-shadow: 0 9px 21px 0 rgba(32, 31, 41, 0.05);
    padding: 5px;
}

.card-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 137%;
    letter-spacing: 0.05em;
    text-align: left;
    color: #a3aebe;
}

.card-input:focus {
    outline: none;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15px;
}

.card-button {
    font-family: 'Nunito', sans-serif;
    width: 100px;
    padding: 5px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    box-shadow: 0 9px 21px 0 rgba(32, 31, 41, 0.05);
}

/*User card*/
.user-card-box {
    margin: 0 auto;
    /* transform: translate(-60px, 120%); */
    transform: translateY(140%);
    position: relative;
    border-radius: 100px 10px;
    background-color: #f6f6f6;
    box-shadow: 0 9px 21px 0 rgba(32, 31, 41, 0.15);
    width: 278px;
    height: 167px;
}

.user-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    padding-left: 20px;
}

.user-card-title::before {
    content: "";
    display: block;
    position: absolute;
    top: -85px;
    left: -50px;
    margin: 0 auto;
    border: 5px solid #fff;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
    background-image: url(./assets/user_pic.png);
    background-size: 100%;
    background-position: center;
}

.user-card-title {
    margin: 0;
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.user-card-name {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: left;
    padding-left: 15px;
    color: #47606f;
}

.user-card-age {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    letter-spacing: 0.1em;
    text-align: left;
    padding-left: 15px;
    color: #a3aebe;
}